@model IEnumerable<sajjadmirzapour.Models.ShortNews>

@{
    ViewData["Title"] = "لیست اخبار";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center">اخبار کوتاه</h1>

<p class="text-center">

    <a asp-controller="Home" asp-action="Management" class="btn btn-primary m-2">پنل مدیریت</a>
    <a asp-action="Creatborder-bottomom btn-success" class="btn btn-success">افزودن خبر جدید</a>

</p>
<table class="table table-bordered table-hover table-light" style="direction:rtl">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Writer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reverse())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Writer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    <img src="~/Image/ShortNews/@(item.Picture)" style="max-width:70px;max-height:70px" />
                </td>
                <td style="display:flex; gap:10px; border-bottom:none">
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-warning">ویرایش</a>
                    <a asp-action="Details" asp-route-id="@item.id" class="btn btn-primary">جزئیات</a>
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
